#welcome-line {
    text-align: center;
    padding: 3%;
}

#access-code-textfield {
    height: 1em;
}

#nowplaying-line {
    text-align: center;
    padding: 3%;
}

#filmography-line {
    text-align: center;
    padding: 3%;
}