#welcome-line {
    text-align: center;
    padding: 3%;   
    font-family: "Limelight", sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: #128bb5;
      
      
}

#access-code-textfield {
    height:1em;
}

#join-game-button {
    font-family: "Limelight", sans-serif;
    /* white-space: collapse; */
    width: 3em;
}

#create-game-button {
    font-family: "Limelight", sans-serif;
    width: 7.5em;
}

#nowplaying-line {
    text-align: center;
    padding: 2.5%;
    font-family: "Limelight", sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    color: #c74e1e;
}

#send-scripts-back-button {
    font-family: "Limelight", sans-serif;
    letter-spacing: .5px;
}

#play-button {
    font-family: "Limelight", sans-serif;
    letter-spacing: 1px;
}


#filmography-line {
    text-align: center;
    padding: 3%;
    font-family: "Limelight", sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    color: #deb522;
    
}

.card {
    border: 15px dotted lightgray;
    padding: 12px;
    margin:.5em;
    margin-bottom: 1em;
    transition: border 5s;
}

.card:hover {
    border: 15px dotted #d6d82c;
}