#my-scripts-line {   
    text-align: center;
    padding: 3%;   
    font-family: "Limelight", sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: #128bb5;      
}

#script-actor-names {
    text-align: left;
    padding: 3%;
    margin-top: 8%;   
    font-family: "Limelight", sans-serif;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    color: #128bb5;   
}

#delete-script-button{
    border: 8px dotted #c74e1e;
    color: #c74e1e;
    background-color: white;   
}
