#my-scripts-line {   
    text-align: center;
    padding: 3%;   
    font-family: "Limelight", sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: #128bb5;      
}

#script-actor-names {
    text-align: left;
    padding: 3%;
    margin-top: 8%;   
    font-family: "Limelight", sans-serif;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    color: #128bb5;   
}

#delete-script-button{
    font-family: "Limelight", sans-serif;

    color: black;
    letter-spacing: 1px;
}



.card {
    border: 15px dotted rgb(52, 52, 52);
    padding: 12px;
    margin:.5em;
    margin-bottom: 1em;
    transition: border 5s;
}

.card:hover {
    border: 15px dotted #d6d82c;
}
