.nav {
  border-bottom: 2px solid #242319;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: #242319; */
  background-image: linear-gradient(to bottom, #242319, #dcdada);
  /* overflow: hidden; */
}
.nav a {
  text-decoration: none;
  color: black;
}
/* todo this might be a logo?? */
.nav-title {
  /* border: 2px solid yellow; */
  font-size: 36px;
  font-weight: 100;
  color: #f2f2f2;
  padding-left: 10px;
}
/* .navLink {
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: 0;
} */

/* DROPDOWN MENU */

.menuTrigger {
  border: 1px solid #242319;
  position: relative;
  top: 145px;
  left: 130px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #deb522;
  box-shadow: 0 0 5px black;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transform: rotate(30deg);
  transition: 1s;
}
.menuTrigger:hover {
  transform: rotate(180deg);
}
.dropdownMenu {
  position: relative;
  top: 170px;
  left: 65px;
  border: 2px solid #242319;
  background-color: #dcdada;
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px 20px;
  width: 200px;
}
/* .dropdownMenu::before {
  content: '';
  background-color: lightblue;
  transform: rotate(45deg);
} */
.dropdownMenu.active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.dropdownMenu.inactive {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.dropdownMenu ul div {
  padding: 10px;
  border-bottom: 1px solid black;
}
.dropdownItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  transition: 0.5s;
}
.dropdownMenu ul div:hover {
  color: #128bb5;
}

.menuWord {
  margin-left: 20px;
}



