.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00acb0;
  /* overflow: hidden; */
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}

/* DROPDOWN MENU */

.menuTrigger {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: blue;
  overflow: hidden;
  cursor: pointer;
}

.dropdownMenu {
  background-color: lightblue;
  border-radius: 20px;
  padding: 10px 20px;
  width: 200px;
}
.dropdownMenu::before {
  content: '';
  background-color: lightblue;
  transform: rotate(45deg);
}
.dropdownMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s;
}
.dropdownMenu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50);
  transition: 0.3s;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 1.2rem;
}

.dropdownMenu ul div {
  padding: 10px 0;
  border-top: 1px solid black;
}
.dropdownMenu ul div:hover {
  color: white;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  /* opacity: 0.5; */
  transition: 0.5s;
}


