
  #checkboxes, #theScripts{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }
   #checkboxes{
    margin-left: -20px;
   }
  #createGameBtn {
    top:150px;
       right:10%;
       width:100px;
       height:40px;
       position: absolute;
       z-index: 2; 
       background: #de5722; 
       font-size: 10px;
  }
  #scriptGame-list{
    /* brought from Nav.css */
    background-image: linear-gradient(to top, #242319, 1%, #dcdada);  
  }
  #gameLinkHeader{
       font-size: 40px; 
        font-weight: bolder ;   
  }
  #gameLink{
    font-size: 30px; 
  }
  #pick-scripts-line {
    text-align: center;
    padding: 3%;   
    font-family: "Limelight", sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: #128bb5;
  }