
 .container {
  text-align: center;
 }
 
 #create-game-button-2{
    text-align: center;
    width:67%;
    margin: 5px;
    margin-bottom: 15px;
    font-size: larger;
    font-family: "Limelight", sans-serif;
    border: 8px dotted rgb(34, 172, 34);
    color: rgb(34, 172, 34);
    background-color: white;
}

 #checkboxes, #theScripts{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }
   #checkboxes{
    margin-left: -20px;
   }
  
  #scriptGame-list{
    /* brought from Nav.css */
    background-image: linear-gradient(to top, #242319, 1%, #dcdada);
    margin-right:1em; 
    
  }
  #gameLinkHeader{
       font-size: 40px; 
        font-weight: bolder ;   
  }
  #gameLink{
    font-size: 30px; 
  }
  #pick-scripts-line {
    text-align: center;
    padding: 2%;   
    font-family: "Limelight", sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: #128bb5;
  }